@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/wt-200.woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Fascinate inline";
  src: url("../fonts/FascinateInline-Regular.ttf");
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/wt-300.woff2");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/wt-400.woff2");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/wt-500.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/wt-900.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "MyWebFont";
  src: url("../fonts/I-wt-400.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "MyCodeFont";
  src: url("../fonts/attribute-mono-400.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyCodeFont";
  src: url("../fonts/attribute-mono-400-italic.woff2");
  font-weight: 400;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 50vw;
}

.render {
  padding: 1.1rem 0.5rem 0.5rem 2rem;
  scroll-behavior: auto;
  min-height: 85vh;
  max-height: 85vh;
  max-width: 43vw;
  min-width: 40vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: hsla(210, 11%, 15%, 1);
  color: hsla(210, 14%, 89%, 1);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "MyWebFont";
}

#zmd {
  font-family: "Fascinate inline";
  font-size: 35px;
}

code {
  color: hsl(348, 100%, 61%);
  font-weight: 100;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
}

td,
th {
  padding: 10px;
}

blockquote {
  background: #414141;
  border-left: 10px solid #68c567;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

a {
  color: #ff3860;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.render::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

/* Hide scrollbar for IE, Edge and Firefox */

.textarea {
  border-radius: 2rem;
}

.user-content-mermaid {
  /*background-color: rgb(29, 31, 33);*/
  border-radius: 0.67rem;
  background-color: inherit;
}

.controlsMenu {
  position: fixed;
  bottom: 5px;
  left: 50%;
  height: 60px;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(210, 11%, 15%, 1);
  border-radius: 50px;
  border: 0.5px dashed #ffffff;
  z-index: 999;
}

.controlsMenu button {
  cursor: pointer;
  height: 80%;
  width: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
}

.controlsMenu button svg {
  height: 50%;
  width: 50%;
}
