.dark-editor {
  --basePageBg: var(--background);
  --accentSolid: hsl(348, 100%, 61%);
  --admonitionDangerBorder: hsl(348, 100%, 61%);
  --admonitionDangerBg: hsl(348, 30%, 31%);
}

.dark-editor .ͼo {
  background-color: var(--background);
  color: var(--foreground);
}

.dark-editor .cm-gutterElement {
  color: var(--muted-foreground);
}

.dark-editor .cm-activeLineGutter {
  color: var(--foreground) !important;
}

.dark-editor .cm-merge-revert {
  color: var(--foreground);
}